.containerNavbar {
    background-color: black;

    .navbar {
        display: flex;
        align-items: center;
        padding: 15px 5px;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;

        .navbarBody {
            display: flex;
            align-items: center;
        }
        .links {
            margin-left: 30px;

            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                position: relative;
                width: 100%;
                padding: 0;
                list-style-type: none;
                font-size: 13px;
                font-weight: 700;
                li {
                    margin-left: 20px;
                    color: white;
                }
            }
        }
        .LoginRegister {
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                position: relative;
                width: 100%;
                padding: 0;
                list-style-type: none;
                font-size: 13px;
                font-weight: 700;
                li {
                    a {
                        text-decoration: none;
                        list-style: none;
                        margin-left: 10px;
                        color: white;
                    }
                }
            }
        }
    }
}


@media (min-width: 1281px) {}


@media (min-width: 1025px) and (max-width: 1280px) {}


@media (min-width: 768px) and (max-width: 1024px) {
}


@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

@media (min-width: 481px) and (max-width: 767px) {}


@media (min-width: 320px) and (max-width: 480px) {}